<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <title>Fake Review Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Fake Review Classifier</h1>
            <nav>
                <ul>
                    <li><a href="/">Klasifikasi</a></li>
                    <li><a href="/train" class="active">Pelatihan</a></li>
                </ul>
            </nav>
        </div>
        <div class="training">
            <div class="input-data">
                <form method="post" action="/train" enctype="multipart/form-data">
                        <div class="input">
                            <input type="file" name="file" id="file" accept=".csv" required>
                        </div>
                        <div class="input">
                            <label for="split">Split Data:</label>
                            <select name="split" id="split">
                                <option value="0.4">60:40</option>
                                <option value="0.3">70:30</option>
                                <option value="0.2">80:20</option>
                                <option value="0.1">90:10</option>
                            </select>
                        </div>
                        <div class="input">
                            <label for="C">Nilai Parameter C:</label>
                            <select name="C" id="C">
                                <option value="0.1">0.1</option>
                                <option value="1">1</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <button type="submit">Train Model</button>
                        <a href="/train">Reset</a>
                </form>
            </div>
            <div class="preview">
                <p>Data Preview</p>
                <div class="table-container" id="preview">
                
                </div>
            </div>
        </div>

        <div class="evaluation">
            <h3>Evaluation Result</h3>
            <table>
                <tr>
                    <th>TP</th>
                    <th>TN</th>
                    <th>FP</th>
                    <th>FN</th>
                    <th>Accuracy</th>
                    <th>Precision</th>
                    <th>Recall</th>
                    <th>F-Measure</th>
                </tr>
                <tr>
                    <td class="result-table">{{ TP }}</td>
                    <td class="result-table">{{ TN }}</td>
                    <td class="result-table">{{ FP }}</td>
                    <td class="result-table">{{ FN }}</td>
                    <td class="result-table">{{ "{:.4f}".format(accuracy) }}</td>
                    <td class="result-table">{{ "{:.4f}".format(precision) }}</td>
                    <td class="result-table">{{ "{:.4f}".format(recall) }}</td>
                    <td class="result-table">{{ "{:.4f}".format(f1_score) }}</td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        document.getElementById('file').addEventListener('change', function() {
            const file = this.files[0];
            const reader = new FileReader();

            reader.onload = function(event) {
                const contents = event.target.result;
                const lines = contents.split('\n');
                const previewLimit = 6; 
                const previewData = lines.slice(0, previewLimit);

                let tableHTML = '<table border="1">';
                previewData.forEach((line, index) => {
                    tableHTML += index === 0 ? '<tr>' : '<tr>';

                    const cells = line.split(',');
                    cells.forEach((cell, cellIndex) => {
                        if (index === 0) {
                            tableHTML += `<th>${cell}</th>`;
                        } else {
                            tableHTML += `<td>${cell}</td>`;
                        }
                    });
                    tableHTML += '</tr>';
                });
                tableHTML += '</table>';

                document.getElementById('preview').innerHTML = tableHTML;
            };

            reader.readAsText(file);
        });
    </script>
</body>
</html>